{% from "macros.html" import csrf %}

{% extends "base.html" %} {% block title %} إضافة موقع {% endblock %} {% block
content %}

<h2>{{ product.name }}</h2>

<hr />

<form method="POST">
  {{ csrf() }}
  <div class="mb-3">
    <label> المستودع </label>

<select name="warehouse_id" class="form-select" required>

    {% for warehouse in warehouses %}

    <option value="{{ warehouse.id }}">
        {{ warehouse.name }}
    </option>

    {% endfor %}

</select>
  </div>

  <div class="mb-3">
    <label> الموقع </label>

    <input
      type="text"
      name="location"
      class="form-control"
      placeholder="رف 50 خانة 2"
      required
    />
  </div>

  <div class="mb-3">
    <label> الكمية </label>

    <input type="number" name="quantity" class="form-control" required />
  </div>

  <button class="btn btn-success">حفظ</button>
</form>

{% endblock %}
