{% from "macros.html" import csrf %}

{% extends "base.html" %} {% block content %}

<div class="card shadow-sm">
  <div class="card-body">
    <h2>تعديل المستخدم</h2>

    <form method="POST">
      {{ csrf() }}
      <div class="mb-3">
        <label> اسم المستخدم </label>

        <input
          type="text"
          name="username"
          class="form-control"
          value="{{ user.username }}"
          required
        />
      </div>

      <div class="mb-3">
        <label> الصلاحية </label>

        <select name="role" class="form-select">

            <option
              value="ADMIN"
              {%
              if
              user.role=""
              ="ADMIN"
              %}selected{%
              endif
              %}
            >
              مدير
            </option>

            <option
              value="STORE_MANAGER"
              {%
              if
              user.role=""
              ="STORE_MANAGER"
              %}selected{%
              endif
              %}
            >
              مسؤول مخازن
            </option>

            <option
              value="EMPLOYEE"
              {%
              if
              user.role=""
              ="EMPLOYEE"
              %}selected{%
              endif
              %}
            >
              موظف
            </option>

        </select>
      </div>

      <button class="btn btn-success">حفظ</button>
    </form>
  </div>
</div>

{% endblock %}
