{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <h3>
            إعادة تعيين كلمة المرور
        </h3>

        <p>
            المستخدم:
            <strong>
                {{ user.username }}
            </strong>
        </p>

        <form method="POST">

            <div class="mb-3">

                <label>
                    كلمة المرور الجديدة
                </label>

                <input
                    type="password"
                    name="new_password"
                    class="form-control"
                    required
                >

            </div>

            <div class="mb-3">

                <label>
                    تأكيد كلمة المرور
                </label>

                <input
                    type="password"
                    name="confirm_password"
                    class="form-control"
                    required
                >

            </div>

            <button class="btn btn-success">
                حفظ
            </button>

        </form>

    </div>

</div>

{% endblock %}